<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link th:href="@{/bootstrap_theme/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/blocks.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
    <link rel="pg-require" href="projectdb.pgml"/>
    <link rel="pg-require" href="_pginfo/fonts.json"/>
    <link rel="pg-require" href="pinegrow.json"/>
</head>
<body class="text-muted">
<input type="checkbox" id="nav-toggle" hidden>
<div th:replace="vertical-navbar::vertical-navbar"></div>
<div th:replace="header::header"></div>
<main>
    <div class="container">
    </div>
    <section class="bg-light pb-5 pt-5">
        <div class="container pb-5 pt-5">
            <div class="bg-white p-4 p-lg-5">
                <h4 class="mb-4" th:align="center">Информация о пользователе</h4>
                <form id="user-edit-form" th:action="@{/user/__${user.id}__}" th:object="${user}" th:method="patch" action="user-edit.html">
                    <div class="col" th:align="center">

                        <div class="row w-25">
                            <label class="form-label" for="inputName">Имя:</label>
                            <input type="text" class="form-control rounded-0" id="inputName" name="username" th:value="${user.username}" >
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></div>
                        </div>
                        <div class="row w-25">
                            <label class="form-label" for="inputName">Номер телефона:</label>
                            <input type="text" class="form-control rounded-0" id="inputPhone" name="phone" th:value="${user.phone}" >
                        </div>
                        <div class="row w-25">
                            <label class="form-label" for="inputName">Почта:</label>
                            <input type="email" class="form-control rounded-0" id="inputEmail" name="email" th:value="${user.email}" >
                        </div>
                        <div class="row w-25">
                            <button class="btn btn-primary mt-3 rounded-0 rounded-pill" type="submit">
                                <span class="align-middle">Обновить</span>
                                <svg viewBox="0 0 24 24" fill="currentColor" height="16" width="16" class="ms-1">
                                    <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div th:replace="footer::footer"></div>
</main>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>