<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Design of the Week Template 12 - Pinegrow Web Editor</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-dark navbar-expand-lg shadow-none">
    <div class="container"> <a class="align-items-center d-inline-flex fw-bold h4 mb-0 navbar-brand text-primary text-uppercase" href="#"> <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 100 100" width="2.5em" height="2.5em" class="me-1" fill="currentColor">
                            <path d="M38.333 80a11.571 11.571 0 0 1-7.646-2.883A11.724 11.724 0 0 1 26.834 70H10V46.667L43.333 40l20-20H90v26.667H43.995l-27.328 5.465v11.2h11.166a11.787 11.787 0 0 1 4.212-4.807 11.563 11.563 0 0 1 12.577 0 11.789 11.789 0 0 1 4.213 4.807h7.833V70h-6.837a11.719 11.719 0 0 1-3.853 7.117A11.571 11.571 0 0 1 38.333 80Zm0-16.667a5 5 0 1 0 5 5 5.006 5.006 0 0 0-5.001-5Zm27.761-36.666L52.762 40h30.571V26.667Z"/>
        <path d="M56.667 63.333h-7.833a11.6 11.6 0 0 0-21 0H16.667v-11.2l27.328-5.465h12.672Z" opacity="0.2"/>
        <path d="M90 63.333H80v-10h-6.667v10h-10V70h10v10H80V70h10Z"/>
        <path d="M52.762 40h30.571V26.667H66.094Z" opacity="0.2"/>
                        </svg><span>Детейлинг</span></a>
        <button class="navbar-toggler rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown-2" aria-controls="navbarNavDropdown-2" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown-2">
            <ul class="me-auto navbar-nav">
                <li class="nav-item"> <a class="nav-link p-lg-3" th:href="@{/}">Главная</a>
                </li>
                <li class="nav-item"> <a class="nav-link p-lg-3" href="#">О нас</a>
                </li>
                <li class="nav-item"> <a class="nav-link p-lg-3" th:href="@{/product}">Услуги</a>
                </li>
                <li class="nav-item"> <a class="nav-link p-lg-3" href="#">Контакты</a>
                </li>
            </ul>
            <div sec:authorize="!isAuthenticated()"class="d-flex flex-wrap gap-2 py-1">
                <a th:href="@{/login}"href="login.html" class="btn btn-outline-primary pe-4 ps-4">Войти</a>
                <a href="sign-up.html" class="btn btn-primary pe-4 ps-4">Зарегистрироваться</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="d-flex flex-wrap gap-2 py-1">
<!--
                сделать иконку и имя пользователя и ссылку на МОИ ЗАКАЗЫ и сслку на index после разлогина
-->
                <a th:href="@{/logout}" href="index.html" class="btn btn-outline-primary pe-4 ps-4">Выйти</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>