<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap_theme/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/blocks.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
    <title>Design of the Week Template 12 - Pinegrow Web Editor</title>
    <link rel="pg-require" href="projectdb.pgml"/>
    <link rel="pg-require" href="_pginfo/fonts.json"/>
    <link rel="pg-require" href="pinegrow.json"/>
</head>
<body class="text-muted">
<input type="checkbox" id="nav-toggle" hidden>
<div th:replace="vertical-navbar::vertical-navbar"></div>
<div th:replace="header::header"></div>
<main>
    <section class="bg-secondary pb-5 position-relative poster pt-5 text-white-50">
        <div class="container mt-5 pb-5 pt-5">
            <div class="mt-5 pt-5 row">
                <div class="col-md-10 col-xl-7 pt-5">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light pb-5 pt-5">
        <div class="container pb-5 pt-5">
            <div class="mb-4 row">
                <div class="col-md">
                    <h2 class="h5 text-primary">Наши услуги</h2>
                    <h3 class="border border-dark fw-bold h1 mb-3 text-dark">Профессиональный детейлинг вашего автомобиля</h3>
                    <div class="bg-primary col-2 d-inline-flex mb-3 pb-1"></div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:align="center">Услуга</th>
                    <th th:align="center">Краткое описание</th>
                    <th th:align="center">Стоимость</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.productName}">Услуга</td>
                    <td th:text="${product.description}">Описание</td>
                    <td th:text="${product.price}">Стоимость</td>
                    <!--<td>
                        <ul>
                            <li>
                                <a th:href="@{/author/__${author.id}__/edit}">
                                    <button class="mt-1 main-button btn btn-sm btn-secondary">Изменить</button>
                                </a>
                            </li>
                            <li>
                                <form th:action="@{/author/{id}(id=${author.id})}" th:method="delete">
                                    <button class="mt-1 main-button btn btn-sm btn-secondary" type="submit">Удалить</button>
                                </form>
                            </li>
                        </ul>
                    </td>-->
                </tr>
                </tbody>
            </table>
            <div class="mt-5 text-center">
                <a th:href="@{/products}" class="btn btn-primary pb-2 pe-4 ps-4 pt-2">Рассчитать стоимость</a>
            </div>
        </div>
    </section>
    <div th:replace="footer::footer"></div>
</main>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
