<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Design of the Week Template 12 - Pinegrow Web Editor</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
</head>
<body>
<input type="checkbox" id="nav-toggle" hidden>
<nav th:fragment="vertical-navbar" class="nav">
    <label for="nav-toggle" class="nav-toggle" onclick></label>

    <h2 class="logo">
        <a href="//dbmast.ru/">Детейлинг</a>
    </h2>

    <ul>
        <li><a th:href="@{/}">Главная</a>
        <li><a th:href="@{/product}">Наши услуги</a>
        <li><a href="#3">О нас</a>
        <li><a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" href="#4">Заявки</a>
        <li><a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" th:href="@{/order}">Заказы</a>
        <li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{/}" href="my-order-list.html">Мои Заказы</a>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/}">Пользователи</a>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/}">Справочник марок автомобилей</a>
        <li><a href="#7">Контакты</a>
    </ul>
</nav>

</body>
</html>